<div class="container">

  {{#each items}}

    <div>
      <p>Name: {{this.name}}</p>
      <picture>
        <img src="{{this.images.0.url}}" alt="{{this.name}}" />
      </picture>
      <p><a href="/albums/{{this.id}}">View more</a></p>
    </div>

  {{/each}}

</div>